

<div class="row d-flex justify-content-center mt-5">
    <div class="card text-bg-dark" style="width: 26rem;">

        <div class="card-body">

            <h3 class="card-title text-center">Welcome Movie Rater App</h3>

            <form action="" [formGroup]="authForm" (submit)="saveForm()">

                <div class="mb-3">
                    <label for="title" class="form-label">User Name</label>
                    <input type="username" class="form-control" formControlName="username">
                </div>

                <div class="mb-3"> 
                    <label for="description" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>

                <button type="submit" class="btn btn-primary">
                   <span *ngIf="!registerMode">Log In</span>  
                   <span *ngIf="registerMode">Register</span>  
                </button>

            </form>

            <span *ngIf="!registerMode" href="#" (click)="registerMode = true">Don't have an account? Register Here</span>
            <span *ngIf="registerMode" href="#" (click)="registerMode = false">Already have an account? Log In Here</span>
        </div>
        
    </div> 
</div>   
